.viewer{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.653);

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10vh 0;
    
    &_main{
        width: 60%;
        display: flex;
        justify-content: center;
    }
    &_nav{
        width: 80%;
        height: 80px;
        padding: 0 30px;
        display:inline-flex;
        justify-content: center;
        overflow: hidden;
        position: relative;
        a{
            height: 60px;
            margin-top: 20px;
            position: relative;
            aspect-ratio: 3/4;
        }
        a:hover{
            height: 70px;
            margin-top: 10px;
        }
        img{
            height: 100%;
        }
        .nav_back{
            height: 100%;
            width: 30px;
            position: absolute;
            left: 0;
            z-index: 10;
        }
        .nav_next{
            height: 100%;
            width: 30px;
            position: absolute;
            right: 0px;
            z-index: 10;
        }
    }
    .focus{
        height: 80px;
        margin-top: 0px;
    }
    .focus:hover{
        height: 80px;
        margin-top: 0px;
    }

}