.work{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    a{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}