* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  border: none;
  list-style: none;
  text-decoration: none;
  text-align: start;
  transition: ease-in-out 0.7s;
}
body{
  background-color: #FAFAFB ;
  scroll-behavior: smooth;
}

//mix


//Contenedores

#root {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
   
}

// Barra Navegación

::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}


//Fuentes

@font-face {
  font-family: 'Quicksand';
  src: url('src/assets/fonts/Quicksand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('src/assets/fonts/Quicksand-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('src/assets/fonts/Quicksand-Light.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('src/assets/fonts/Quicksand-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('src/assets/fonts/Quicksand-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: 'Dream';
  src: url('src/assets/fonts/FontsFree-Net-Dream-Avenue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sirenik';
  src: url('src/assets/fonts/Sirenik-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sirenik';
  src: url('src/assets/fonts/Sirenik-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Baskerville';
  src: url('src/assets/fonts/BaskervilleMTStd-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Baskerville';
  src: url('src/assets/fonts/BaskervilleMTStd-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Baskerville';
  src: url('src/assets/fonts/BaskervilleMTStd-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Baskerville';
  src: url('src/assets/fonts/BaskervilleMTStd-SemiBd.ttf') format('truetype');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: 'Baskerville';
  src: url('src/assets/fonts/BaskervilleMTStd-BoldIt.ttf') format('truetype');
  font-weight: 700; /* Bold Italic */
  font-style: italic;
}

@font-face {
  font-family: 'Baskerville';
  src: url('src/assets/fonts/BaskervilleMTStd-SemiBdIt.ttf') format('truetype');
  font-weight: 600; /* SemiBold Italic */
  font-style: italic;
}



.h1 {
  font-family: "Dream";
  font-weight: 600;
  font-size: 40px;
  color: #2d2a26;
}
.h2 {
  font-family: "Dream";
  font-weight: 500;
  font-size: x-large;
  color: #2d2a26;
}
.h3 {
  font-family: "Baskerville";
  font-weight: 600;
  font-size: larger;
  color: #2d2a26;
}
.h4 {
  font-family: "Baskerville";
  font-weight: 400;
  font-size: large;
  color: #2d2a26;
  font-style: italic;
}
.h5 {
  font-family: "Baskerville";
  font-weight: 400;
  font-size: medium;
  color: #2d2a26;
  font-style: italic;
}
.p{
  font-family: "Quicksand";
  font-weight: 200;
  font-size: medium;
  color: #2d2a26;
}
.span {
  font-family: "Quicksand";
  font-weight: 200;
  font-size: medium;
  color: #2d2a26;
}

.spicy {
  font-family: "Sirenik";
  font-weight: 700;
}
.dream {
  font-family: "Dream";
}
.it {
  font-style: italic;
}
.bold {
  font-weight: bold;
}

.f-w {
  color: #FAFAFB;
}
.f-faint {
  color: #D9D9D9;
}
.f-dim {
  color: #766E64;
}